.categories{
    display: flex;
    flex-direction: row;
    gap: 5px;
    
    .categories__card{
        
        .categories__card--title{
            color: $--white;
            text-shadow: 0.5px 0.5px $--black;
            font-size: 1rem;
            transform: rotate(-90deg) translateX(-250px) translateY(35px);
            text-align: center;
        }

        .categories__card--img{
            width: 100px;
            height: 300px;
            border-radius: 20px;
            transition: width .5s;
            overflow: hidden;
            object-fit: cover;
            object-position: 80%;
            transition: all .5s;

            &:hover, &:focus{
                width: 300px;
                transition: all .5s;
                transform: scale(1);
                object-position: unset;
            }

        }
        
    }
}

.categories__card:hover .categories__card--title{
    transition: opacity .1s ease-in-out;
    opacity : 0;
}