header{
    width: 100%;
    padding: 1rem;
    position: fixed;
    background-color: $--white;
    top: 0;
    z-index: 99;
}

.title{
    display: flex;
    justify-content: space-between;

    h2{
        color: $--green;
        font-size: 2rem;
        font-family: 'Readex Pro', sans-serif;
        margin-top: 10px;
    }

    button{
        background-color: $--green;
        border: 1px solid $--green;
        border-radius: 100%;
        padding: 1rem;
        margin-right: 2rem;
        cursor: pointer;
    }

    .title__button--img{
        width: 20px;
        height: auto;
        filter: invert(100%);
    }
}