input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
    position: relative;
  }

  
label {
    cursor: grab;
    width: 400px;
    height: 80px;
    background: lightgrey;
    display: block;
    border-radius: 100px;
    position: relative;
    user-select: none;
  }
  
label:after {
    content: 'Discover your style →';
    text-align: center;
    line-height: 4.5rem;
    color: $--white;
    font-family: 'Readex Pro', sans-serif;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 180px;
    height: 70px;
    background: $--green;
    border-radius: 90px;
    transition: 0.3s;
}
  
input:checked + label {
    background: $--pink;
}
  
input:checked + label:after {
    content: '← Discover your style';
    left: calc(100% - 5px);
    transform: translateX(-100%);
}
  
label:active:after {
    width: 130px;
}