/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mansalva&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Khand:wght@300&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Post No Bills Colombo Light";
  src: "../../storage/postnobillscolombo-light.otf" format("otf");
}
header {
  width: 100%;
  padding: 1rem;
  position: fixed;
  background-color: #F1F0EC;
  top: 0;
}

.title {
  display: flex;
  justify-content: space-between;
}
.title h2 {
  color: #053D1E;
  font-size: 2rem;
  font-family: "Readex Pro", sans-serif;
  margin-top: 10px;
}
.title button {
  background-color: #053D1E;
  border: 1px solid #053D1E;
  border-radius: 100%;
  padding: 1rem;
  margin-right: 2rem;
  cursor: pointer;
}
.title .title__button--img {
  width: 20px;
  height: auto;
  filter: invert(100%);
}

.menu {
  margin-top: 40px;
  font-family: "Readex Pro", sans-serif;
  visibility: hidden;
  z-index: 99;
}
.menu.visible {
  visibility: visible;
}
.menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}
.menu ul li a {
  color: #053D1E;
  text-decoration: none;
  padding: 0.5rem 1rem;
}
.menu ul li a:visited {
  color: #053D1E;
}
.menu ul li a:hover, .menu ul li a.active {
  color: #F1F0EC;
  background-color: #053D1E;
  border: 1px solid #053D1E;
  border-radius: 30px;
}

body {
  margin-top: 30vh;
}

.hero {
  margin-top: 25px;
}
.hero .hero__img--chair {
  width: 120px;
  height: auto;
  float: right;
  margin-right: 20px;
}
.hero h1 {
  color: #053D1E;
  font-family: "Mansalva", cursive;
  font-size: 3.5rem;
  margin-left: 20px;
}
.hero .hero__img--sofa {
  width: 400px;
  height: auto;
  margin: 1rem 0;
}
.hero h3 {
  font-family: "Khand", sans-serif;
  font-size: 2.5rem;
  text-align: center;
  margin: 1rem 0;
}

.categories {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.categories img {
  width: 110px;
  height: 300px;
  background-color: aquamarine;
  border-radius: 20px;
  transition: width 0.5s;
  overflow: hidden;
  object-fit: cover;
  object-position: 80%;
  transition: all 0.5s;
}
.categories img:hover, .categories img:focus {
  width: 300px;
  transition: all 0.5s;
  transform: scale(1);
  object-position: unset;
}

.best-seller {
  margin-top: 2rem;
}
.best-seller .best-seller__hero--green {
  width: 100vw;
  height: 400px;
  background-color: #053D1E;
}
.best-seller .best-seller__hero--green h2 {
  color: #F1F0EC;
  font-family: "Mansalva", cursive;
  font-size: 3rem;
  margin: 1rem 2rem;
  padding-top: 3rem;
  text-align: center;
}
.best-seller .best-seller__hero--green img {
  width: 350px;
  height: auto;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  transform: translateY(20px);
}/*# sourceMappingURL=style.css.map */